.download-bar {
	align-items: center;
	display: flex;
	padding: 0 20px;
}

.download-bar a {
	outline: none;
	transition: opacity .25s;
}

.download-bar a:focus,
.download-bar a:hover {
	opacity: .8;
}

.download-bar a:active {
	opacity: .6;
}