.download-bar {
	align-items: center;
	display: flex;
	padding: 0 20px;
}

.download-bar a {
	outline: none;
	transition: filter .25s;
}

.download-bar a:focus,
.download-bar a:hover {
	filter: brightness(1.2);
}

.download-bar a:active {
	filter: brightness(.8);
}