* {
	box-sizing: border-box;
	scrollbar-width: none;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

body {
	background-color: black;
	color: white;
	cursor: default;
	font-family: Helvetica, "PingFang SC", "Microsoft YaHei", sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-user-select: none;
	user-select: none;
}

html,
#__next {
	height: 100%;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar:vertical {
	border-left: 1px solid rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
}

@media (max-width: 800px) {
	* {
		scrollbar-width: none;
	}

	body {
		border-right: none;
		height: 100%;
		margin: 0;
	}

	html {
		height: 100%;
	}

	::-webkit-scrollbar {
		display: none;
	}
}