.bg {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

.bg-cover {
	background-image: linear-gradient(to right, rgba(24, 37, 77, .5), rgba(24, 37, 77, .8));
}

.bg-img {
	background-attachment: fixed;
	background-image: url(https://assets.retiehe.com/blur/reichenbach-falls.jpg);
	background-position: center;
	background-size: cover;
}

.root {
	display: flex;
	height: 100%;
	overflow: auto;
	transition: opacity .25s;
}

@media (max-width: 800px) {
	.bg-cover {
		background-image: rgba(24, 37, 77, .7);
	}

	.root {
		flex-direction: column;
	}
}