.groups {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 400px;
}

.link-list {
	animation: slide-in 1s ease-in-out;
	display: flex;
	flex: 0 0 400px;
	flex-direction: column;
	gap: 20px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.list-item {
	align-items: center;
	background-color: rgba(0, 0, 0, .1);
	cursor: default;
	display: flex;
	gap: 15px;
	line-height: 1.5;
	padding: 10px 25px;
	transition: background-color .25s;
}

.list-item:focus,
.list-item:hover,
.list-item.in-group:focus,
.list-item.in-group:hover {
	background-color: rgba(255, 255, 255, .1);
}

.list-item:active,
.list-item.in-group:active {
	background-color: rgba(255, 255, 255, .05);
}

.list-item img {
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.list-item.in-group {
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 20px;
}

.title {
	background-color: rgba(0, 0, 0, .2);
	border: 1px dotted transparent;
	cursor: default;
	display: block;
	line-height: 24px;
	outline: none;
	padding: 10px 25px;
	transition: background-color .25s;
}

.title:focus {
	border-color: rgba(255, 255, 255, .2);
}

@keyframes slide-in {
	from {
		flex: 0;
	}

	to {
		flex: 0 0 400px;
	}
}

@media (max-width: 800px) {
	.groups {
		width: unset;
	}

	.link-list {
		overflow: unset;
	}
}