.description {
	color: rgba(255, 255, 255, .5);
	font-size: 14px;
}

.group {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(255, 255, 255, .1);
	padding: 10px;
}

.tags {
	padding: 5px 15px 15px;
}

.tags>span {
	background-color: rgba(24, 37, 77, .5);
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 5px;
	display: inline-block;
	margin: 1px;
	padding: 5px 10px;
	white-space: nowrap;
}

.title {
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 10px;
	color: white;
	line-height: 1.25;
	margin: 0 auto;
	padding: 5px 15px;
}