.avatar {
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.btn {
	align-items: center;
	background-color: rgba(255, 255, 255, .1);
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 5px;
	color: inherit;
	cursor: default;
	display: flex;
	font-family: inherit;
	font-size: inherit;
	gap: 5px;
	justify-content: center;
	margin: 10px auto;
	padding: 10px 20px;
	transition: background-color .25s;
	width: 300px;
}

.btn:last-of-type {
	margin-bottom: 0;
}

.btn:focus,
.btn:hover {
	background-color: rgba(255, 255, 255, .2);
	box-shadow: 0 0 5px rgb(24, 37, 77);
}

.btn:active {
	background-color: rgba(255, 255, 255, .15);
}

.btn svg {
	height: 16px;
}

.description {
	line-height: 24px;
	margin: 10px 15px 20px;
}

.profile {
	align-items: center;
	box-shadow: 0 0 5px black;
	display: flex;
	text-align: center;
	transition: width 1s;
	width: calc(100% - 400px);
}

.profile>div {
	width: 100%;
}

.title {
	font-size: 24px;
	margin: 20px 0 10px;
}

@media (max-width: 800px) {
	.avatar {
		height: 100px;
		width: 100px;
	}

	.profile {
		box-shadow: none;
		flex: 0 0 calc(100% - 46px);
		width: auto;
	}
}