.list {
	margin-bottom: 20px;
}

.title {
	background-color: rgba(0, 0, 0, .2);
	border: 1px dotted transparent;
	cursor: default;
	display: block;
	line-height: 24px;
	outline: none;
	padding: 10px 25px;
	transition: background-color .25s;
}

.title:focus {
	border-color: rgba(255, 255, 255, .2);
}

.works {
	display: flex;
	flex: 0 0 400px;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
}

@media (max-width: 800px) {
	.works {
		overflow: unset;
	}
}